* {
    box-sizing: border-box;
    direction:rtl;
    text-align: right;
}

header {
    position: fixed;
    height: 105px;
    width:100%;
    top:0;
    left:0;
    background-color: red;
  }
  
  .main_container {
    top:135px;
    position: relative;
    width: 900px;
    height: 589px;
    background-color: #6795e0;
    margin: 0 auto; 
 }
  
  footer {
    position: fixed;
    height: 38px;
    width:100%;
    bottom: 0;
    left: 0;
    background-color: blue;
  }