* {
    box-sizing: border-box;
    direction:rtl;
    text-align: right;
    margin: 0;
}

header {
    position: relative;
    height: 105px;
    width:100%;
    background: linear-gradient(to bottom, rgba(144,144,144,1) 0%,rgba(144,144,144,1) 87%,rgba(144,144,144,0.65) 100%);
  }
  
    .main_container {
    top:30px;
    position: relative;
    width: 911px;
    height: 589px;
    margin:auto;
    margin-bottom: 75px;
 }
    footer {
    position: fixed;
    height: 38px;
    width:100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(175,175,175,1) 5%,rgba(144,144,144,1) 50%,rgba(144,144,144,1) 100%)
   }
  .upper{
    width: 291px;
    height:354px;
    display: inline-block;
    position: relative;
    padding: 0px;
    border-radius: 0px 0px 20px 0px;
    }
     div > img {
      max-height: 100%;
      max-width: 100%;
  } 
  .lower{
    width: 292px;
    height: 216px;
    display: inline-block;
    border-radius: 0px 20px 0px 0px;
    background-color: blueviolet;
    margin:0 4px; 
    margin-top: 16px;
  }
  .box_1{
    margin: 0px 5px;
  }

  .box_2{
    margin: 0px 4px;
  }
  .box_3{
    margin: 0px 5px;
  }